fastapi==0.115.0
uvicorn[standard]==0.30.6

pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1

SQLAlchemy==2.0.34
psycopg[binary]==3.2.1

alembic==1.13.2

pandas==2.3.3
python-multipart==0.0.9
apscheduler==3.10.4
